version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      PGUSER: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: astra
      # POSTGRES_MULTIPLE_DATABASES: astra
    volumes:
      - ./data/postgres/data:/var/lib/postgresql/data
      - ./data/postgres/initdb:/docker-entrypoint-initdb.d
    restart: unless-stopped
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 3s
      retries: 5
  redis:
    restart: unless-stopped
    image: redis:alpine
    volumes:
      - ./data/redis:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 1s
      timeout: 3s
      retries: 5


  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: secret
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "8002:80"
    depends_on:
      postgres:
        condition: service_healthy
    links:
      - postgres
    volumes:
      - ./data/pgadmin:/var/lib/pgadmin
  redisinsight:
    image: redislabs/redisinsight:latest
    ports:
      - '8003:8001'
    volumes:
      - ./data/redisinsight:/db 
    depends_on:
      redis:
        condition: service_healthy


  flower:
    container_name: flower
    build: 
      context: .
      dockerfile: ./Dockerfile.flower
    command: celery -A astra.celery_worker.celery flower --port=5555 --persistent=True
    env_file:
      - app.env
    ports:
      - "8001:5555"
    volumes:
      - ./data/astra:/astra/data
    depends_on:
      redis:
        condition: service_healthy
    
  supervizor:
    build: 
      context: .
      dockerfile: ./Dockerfile.supervizor
    command: uvicorn astra.supervizor.supervizor:api.app --host 0.0.0.0 --port 8000
    volumes:
      - ./data/astra:/astra/data
    ports:
      - "8000:8000"
      - "7999:7999"
    env_file:
      - app.env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
  celery_worker:
    container_name: celery_worker
    build: 
      context: .
      dockerfile: ./Dockerfile.worker
    command: celery -A astra.celery_worker.celery worker -P solo -l info
    volumes:
      - ./data/astra:/astra/data
    ports:
      - "7998:7998"
    env_file:
      - worker.env
    depends_on:
      redis:
        condition: service_healthy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
